
body{
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
}

p{
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    /* Para quitar el margen por default de Boots */
}

body{
    background-color: #EEEEEE;
}

.nav-search{
    background-color: #FFE600;
    text-align: center;
    padding: 5px;
}

.nav-input{
    
    width: 400px !important;
    border-radius: 2px !important;
    border: none !important;
    color: #999999;
}

.nav-logo-search{
    border: none !important;
}

.lista{
    color: #999999;
    font-size: 14px !important;
}

.lista ul{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;

}

.detail{
    margin: 16px 0px 16px 100px;
}

.lista li{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}

.lista-selected{
    font-weight: bold;
}

.product-dates{
    margin-top:16px;
}

.product-image{
    width:680px;
}

.text-date{
    font-size: 14px;
    color: #666666;
}

.text-name{
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 16px;
}

.text-price{
    font-size: 46px;
    padding-top: 20px;
}

.text-description{
    font-size: 28px;
    padding-bottom: 32px !important;
    padding-left: 32px !important;
    padding-top: 10px !important;
}

.product-col-dates{
    border-color: transparent !important;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.btn-ml{
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif !important; 
    background-color: #3483FA !important;
    color: white !important;
    line-height: 48px !important;
    padding: 1px 90px 1px 90px !important;
    
}