

body{
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
    background-color: #EEEEEE !important;
}

.auto{
    margin:auto !important;
}

.detail-description{
    padding-top: 10px;
}

.div-results{
    background-color: white;
    margin-right: 50px;
    border-radius: 4px;
    margin-top: 16px;
}

.div-detail{
    background-color: white;
    margin-right: 50px;
    border-radius: 4px;
    margin-top: 16px;
    padding: 32px;
}

p{
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    /* Para quitar el margen por default de Boots */
}

.nav-search{
    background-color: #FFE600;
    text-align: center;
    padding: 5px;
}

.nav-input{
    width: 750px !important;
    border-radius: 2px !important;
    border: none !important;
    color: #999999;
}

.nav-search{
    border: none !important;
}

.lista{
    color: #999999;
    font-size: 14px !important;
}

.lista ul{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;

}

hr{
    margin: 0px 16px 0px 16px !important;
}

.detail{
    margin: 16px 0px 16px 100px;
}

.template-default{
    margin: 16px 100px 16px 100px;
}

.lista li{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}

.lista-selected{
    font-weight: bold;
}

.product-image{
    width:680px;
}

.text-date{
    font-size: 14px;
    color: #666666;
}

.text-name{
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 16px;
}

.text-price{
    font-size: 46px;
    padding-top: 20px;
}

.text-title-description{
    font-size: 28px;
}

.text-description{
    font-size: 16px;
    color: #999999;
}

.btn-ml{
    background-color: #3483FA !important;
    color: white !important;
    line-height: 48px !important;
    padding: 0px 90px 0px 90px !important;
    
}

.product-img{
    width: 180px;
    height: 180px;
    border-radius: 4px;
}

.margin-top{
    margin-top: 16px !important;
}

.margin-bottom{
    margin-bottom: 16px !important;
}

.margin-left{
    margin-left: 16px !important;
}

.product-price{
    font-size: 24px;
}

.product-shipping{
    margin-top: 8px;
    margin-left: 8px;
}

.product-country{
    font-size: 12px;
    color: #999999;
}

.padding-top{
    padding-top: 32px !important;
}

.padding-left{
    padding-left: 32px !important;
}

.product-description{
    max-width: 350px;
}

.detail-description{
    max-width: 700px;
}

.div-products{
    background-color: white;
}